apiVersion: apps/v1
kind: Deployment
metadata:
  name: buyer-service-ui-deployment
  labels:
    app: buyer-service-ui
spec:
  replicas: 2
  selector:
    matchLabels:
      app: buyer-service-ui
  template:
    metadata:
      labels:
        app: buyer-service-ui
    spec:
      containers:
        - name: buyer-service-ui
          image: systeamorg/buyer-service-ui
          env:
            - name: PORT
              value: "91"
          ports:
            - containerPort: 91

---
apiVersion: v1
kind: Service
metadata:
  name: buyer-service-ui
  labels:
    app: buyer-service-ui
spec:
  ports:
    - port: 91
      targetPort: 91
      protocol: TCP
      name: tcp
      nodePort: 30091
  type: NodePort
  selector:
    app: buyer-service-ui
